---
/* Type imports */
import type { ComponentProps } from "astro/types";

/* Regular imports (components, assets, constants, etc.) */
import BaseHead from "@components/BaseHead.astro";
import SiteFooter from "@components/SiteFooter.astro";
import Speckles from "@assets/img/speckles.svg";
import Filter from "@components/Filter.astro";

/* Interface Props */
type Props = ComponentProps<typeof BaseHead> & {
	bodyClass?: string;
};

/* Extract props */
const {
	pageTitle,
	pageDesc,
	ogLocale,
	ogType,
	socialImageURL,
	socialImageAlt,
	canonicalURL,
	bodyClass,
} = Astro.props;

/** Other local constants or functions */
---

<!doctype html>
<html lang="en" class="no-js">
	<head>
		<BaseHead
			pageTitle={pageTitle}
			pageDesc={pageDesc}
			ogLocale={ogLocale}
			ogType={ogType}
			socialImageURL={socialImageURL}
			socialImageAlt={socialImageAlt}
			canonicalURL={canonicalURL}
		/>
	</head>
	<body class={bodyClass}>
		<slot />
		<SiteFooter />
		<Speckles />
		<Filter />
	</body>
</html>
